on:
  push:
    branches: master

name: bookdown

jobs:
  bookdown:
    runs-on: ubuntu-20.04
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@master

      - uses: r-lib/actions/setup-r@master
      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.11.4'

      - uses: r-lib/actions/setup-tinytex@master

      - name: Get curl
        run: |
          sudo apt-get install libcurl4-openssl-dev
      - name: Get sed
        run: |
          npm install sed
      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)
          writeLines(sprintf("R-%i.%i", getRversion()$major, getRversion()$minor), ".github/R-version")
        shell: Rscript {0}

      - name: Cache R packages
        uses: actions/cache@v1
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-${{ hashFiles('.github/depends.Rds') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('.github/R-version') }}-1-

      - name: Install dependencies
        run: |
          install.packages("curl")
          remotes::install_deps(dependencies = TRUE)
          install.packages("bookdown")
        shell: Rscript {0}

      - name: Session info
        run: |
          options(width = 100)
          pkgs <- installed.packages()[, "Package"]
          sessioninfo::session_info(pkgs, include_base = TRUE)
          rmarkdown::find_pandoc()
        shell: Rscript {0}

      - name: Install package
        run: R CMD INSTALL .

      - name: Build pdf
        run: |
          Rscript -e 'sa4ss::draft(author = "Kelli F. Johnson"); bookdown::render_book("00a.Rmd", clean = FALSE)'
      - name: Archive pdf
        if: success()
        uses: actions/upload-artifact@master
        with:
          name: _main.pdf
          path: _book
